body{
	background-color: #aaaaff;
	margin-top: 3%;
	margin-right: 15%;
	margin-left: 15%;
}
h1{
	background-color: #aaaaaa;
	font-size: 300%;
	padding: 20px;
	border: 2px;
	border-style: solid;
	border-color: #aa0000;
	text-align: center;
}
h2{
	background-color: #bbbbbb;
}
b.variable{
	color: #302020;
}
b.opcion{
	color:green;
}
em.variable{
	color: #204020;
}
p.formula{
	margin-left: 5%;
}
p.fichero{
	background-color: #ffffdd;
	padding: 6px;
	margin-left: 5%;
	width: 30%;
	font-family: monospace;
}
p.codigo{
	font-family: monospace;
}
p.address{
	background-color: #a0a0c0;
	padding: 10px;
	text-align: center;
	font-weight: italic;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
li{
	padding-bottom: 10px;
}
b.codigo{
	font-size: 120%;
	font-family: monospace;
}
span.fonttwo{
	font-size: 150%;
}
